.login-wrapper .login {
    justify-content: flex-start;    
    min-height: 90.6vh;
}

.login-wrapper .login .title{
    text-align: center; 
    font-size: 30px; 
    padding-top: 30px;
}

.login-wrapper .login .login-group{
    padding-top: 30px;
}